<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travels.android.auth">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />

    <application>

        <activity android:name="com.travels.android.auth.OAuthWebViewActivity" />

        <activity android:name="com.travels.android.auth.NewAccountActivity" />

        <service
            android:name="com.travels.android.auth.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>
</manifest>

