<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travels.android.main">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA1ZWfeW3SRbXmO3S306Do8czXd7J3AtRI" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="travels.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.filter.JourneysFilterActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>